/newsletters/*.epub
/newsletters/*.html
/newsletters/*.pdf
/config.yaml
/public
/tribune-dev.conf
/ios/tribune/Config.xcconfig
/ios/Tribune/Tribune.xcodeproj/xcuserdata/
/ios/Tribune/Tribune.xcodeproj/project.xcworkspace/xcuserdata/
