database_host: localhost
database_port: 5432
database_username: user
database_password:
database_name: tribune
test_database_name: tribune-test
-- generate with: ruby -rsecurerandom -e 'p SecureRandom.hex(32)'
secret: [something]
server_port: 1847
newsletters_dir: /Users/you/tribune/newsletters/
-- `git clone git@github.com:fivefilters/ftr-site-config.git` (make sure to update every so often)
-- can leave blank to rely only on readability
ftr_site_config_dir: /Users/you/ftr-site-config/
